<div class="activity">

    <h3>Recent Activities</h3>

    <div class="item">

        <div class="dot blue"></div>

        <div>

            <h4>Vendor Approved</h4>

            <p>ABC Industries approved successfully.</p>

            <small>5 min ago</small>

        </div>

    </div>

    <div class="item">

        <div class="dot green"></div>

        <div>

            <h4>Purchase Order Created</h4>

            <p>PO-2026-001 generated.</p>

            <small>18 min ago</small>

        </div>

    </div>

    <div class="item">

        <div class="dot orange"></div>

        <div>

            <h4>Contract Updated</h4>

            <p>Contract expires next month.</p>

            <small>1 hour ago</small>

        </div>

    </div>

    <div class="item">

        <div class="dot red"></div>

        <div>

            <h4>High Risk Alert</h4>

            <p>Vendor risk score increased.</p>

            <small>2 hours ago</small>

        </div>

    </div>

</div>