<div class="chart-card">

    <div class="chart-header">

        <div>

            <h3>Vendor Performance</h3>

            <p>Last 6 Months</p>

        </div>

        <button mat-button color="primary">

            View Report

        </button>

    </div>

    <div class="chart-area">

        <div class="bar h70"></div>

        <div class="bar h95"></div>

        <div class="bar h60"></div>

        <div class="bar h120"></div>

        <div class="bar h85"></div>

        <div class="bar h150"></div>

    </div>

    <div class="months">

        <span>Jan</span>
        <span>Feb</span>
        <span>Mar</span>
        <span>Apr</span>
        <span>May</span>
        <span>Jun</span>

    </div>

</div>